.news {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.newsBlock {
    width: 300px;
    height: 320px;
    border: 2px solid
    red;
    margin: 30px 0px;
}

.newsContent {
    padding: 10px;
}

.newsBlock img {
    width: 100%;
}

.newsMiddleBlock {
    width: 500px;
    border: 2px solid red;
    
}

.newsCard {
width: 300px;
border: 2px solid red;
}

a {
    text-decoration: none;
}